{% extends 'base.html.twig' %}

{% block title %}Bienveue{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence Bienvenue </h1>
    <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
        ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum </p>
</div>
{% endblock %}
